html,
body {
  background: url("../img/cell.png");
  color: #fafafa;
  height: 100%;
  width: 100%;
}
.btn-primary {
  text-decoration: none;
  background: #3333ff;
  border-radius: 3px;
  color: white;
  padding: 5px;
  border: none;
  transition: 0.3s all;
}
.btn-primary:hover {
  background: #4747ff;
}
a {
  color: #82befe;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  border: none;
  outline: none;
}
.side-nav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 99;
}
.side-nav a {
  opacity: 70%;
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
.side-nav a.__selected {
  opacity: 1;
}
.side-nav a:hover {
  opacity: 1;
}
.side-nav .logo {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  border-bottom: white 1px dashed;
}
.side-nav .author {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
.side-nav .closebtn {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  font-weight: bold;
  font-size: 30px;
}
@media screen and (max-width: 700px) {
  .side-nav {
    width: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .side-nav a {
    font-size: 20px;
  }
  .side-nav .closebtn {
    display: block;
  }
}
.top-nav {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  transition: 0.3s all;
}
.top-nav .burger {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  left: 5px;
  right: 5px;
}
.top-nav .logo {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 700px) {
  .top-nav {
    display: block;
  }
}
.main {
  padding: 0 10px;
  margin-left: 200px;
  height: 100%;
  transition: 0.3s all;
}
@media screen and (max-width: 700px) {
  .main {
    margin-left: 0;
    padding: 52px 10px 0;
  }
}
.play {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.play_cell {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  grid-column: span 2;
  text-align: center;
  padding: 7px 0;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  transition: 0.3s all;
}
.play_cell:hover {
  background-color: #e6e6e6;
  color: #a31717;
}
@media screen and (max-width: 500px) {
  .play_cell {
    grid-column: span 3;
  }
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 28px;
  padding: 8px 0px;
  font-weight: bold;
}
.games {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.games_cell {
  grid-column: span 6;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 19px;
  margin-bottom: 8px;
  transition: 0.3s all;
}
.games_cell .player {
  float: left;
}
.games_cell .player_rating {
  display: inline-block;
  font-size: 12px;
}
.games_cell .player_name {
  display: inline-block;
}
.games_cell:hover {
  color: #a31717;
  background-color: #e6e6e6;
}
.account {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 18px;
}
.account_card table {
  margin-top: 10px;
  table-layout: fixed;
  width: 300px;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  text-align: center;
}
.account_card table tr:nth-child(even) {
  background-color: #262521;
}
.account_card table tr:nth-child(odd) {
  background-color: #302f2b;
}
.account_card table td,
.account_card table th {
  padding: 0.5em;
}
.account h2 {
  padding-top: 0;
}
.rules {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 18px;
}
.rules h2 {
  padding-top: 0;
}
.rules_card {
  max-width: 880px;
}
@media screen and (min-device-width: 1600px) {
  .rules_card {
    max-width: 1080px;
  }
}
.friends {
  height: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 18px;
}
.friends_card table {
  margin-top: 10px;
  width: 300px;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
}
.friends_card table tr:nth-child(even) {
  background-color: #262521;
}
.friends_card table tr:nth-child(odd) {
  background-color: #302f2b;
}
.friends_card table td,
.friends_card table th {
  padding: 0.5em;
}
.friends h2 {
  padding-top: 0;
}
.modal {
  display: none;
  z-index: 9998;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  transition: 0.3s all;
}
.modal_close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 30px;
  cursor: pointer;
}
.modal-content {
  z-index: 9999;
  font-size: 19px;
  padding: 5px 0 0;
  background-color: #2B2A26;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */
  color: white;
  position: relative;
}
.modal-content label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}
.modal-content input[type=text],
.modal-content input[type=password],
.modal-content input[type=email] {
  width: 100%;
  padding: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}
.modal-content button {
  transition: 0.3s all;
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 8px 0 18px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.modal-content button:hover {
  background-color: #0000f0;
}
.modal-content .container {
  padding: 0 30px;
}
.modal-content .forgot-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #46443e;
}
.game {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100%;
  font-size: 18px;
}
.game-preloader {
  padding: 10px;
}
.game .preloader__image {
  height: 60px;
  width: 60px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.game_card {
  width: 100%;
}
.game_card .game_desk {
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.game_card .game_desk .quarter__choose {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
}
.game_card .game_desk .game_quarter {
  transition: 0.5s all;
  padding: 5px;
  background-color: #a31717;
  grid-column: span 1;
  border: white solid 1px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.game_card .game_desk .game_quarter-cont {
  transition: 0.5s all;
}
.game_card .game_desk .game_quarter .game_cell {
  grid-column: span 1;
  display: grid;
  place-items: center;
  padding: 2px;
}
.game_card .game_desk .game_quarter .game_cell_inner {
  background-color: #8d1414;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 355px) {
  .game_card .game_desk .game_quarter .game_cell_inner {
    width: 40px;
    height: 40px;
  }
}
.game_card .game_desk .game_quarter .game_cell_inner .figure {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.game_card .game_desk .game_quarter .game_cell_inner .figure__black {
  background: black;
}
.game_card .game_desk .game_quarter .game_cell_inner .figure__white {
  background: white;
}
.game_panel {
  background-color: #2B2A26;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.game_panel .give-up {
  color: white;
  border: none;
  transition: 0.3s all;
  background-color: blue;
  border-radius: 6px;
}
.game_panel .give-up:hover {
  background-color: #0000b3;
}
.game_panel .rotate-btn {
  color: white;
  font-size: 30px;
}
.game .game_player {
  padding: 6px 0;
  background-color: #2B2A26;
  line-height: 22px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
}
.game .game_player .figure {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.game .game_player .figure__black {
  background: black;
}
.game .game_player .figure__white {
  background: white;
}
.game .game_player .player_name {
  text-decoration: none;
  color: inherit;
}
.game .game_player .player_time {
  margin-left: auto;
  margin-right: 5px;
}
.game .game_player_2 {
  flex-direction: row-reverse;
}
.game .game_player_2 .player_time {
  margin-left: 5px;
  margin-right: auto;
}
.game .game_player .player_burger {
  font-size: 26px;
  margin: 0 5px;
}
.game .game_player .player_rating {
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  margin: 0 10px;
}
/*# sourceMappingURL=new.css.map */