html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: repeating-linear-gradient(-45deg, #fff, #fff 10px, #647ca0 10px, #82befe 20px);
  padding-top: 60px;
}
.i {
  text-decoration: underline;
}
.b {
  font-weight: bold;
}
b {
  font-weight: bold;
}
.center-container {
  max-width: 1079px;
  margin: 0 auto;
}
.center-container {
  height: 100%;
}
.all-height {
  height: 100%;
}
.all-width {
  width: 100%;
}
.center-el-container {
  height: 100%;
  display: flex;
  text-align: center;
}
.center-el {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  border-radius: 5px;
}
.side-padding {
  padding: 0 100px;
}
.shadow-el {
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.no-btn {
  border: none;
  outline: none;
  background: white;
}
.btn-primary {
  text-decoration: none;
  background: #3333ff;
  border-radius: 3px;
  color: white;
  padding: 5px;
  border: none;
  transition: 0.3s all;
}
.btn-primary:hover {
  background: #4747ff;
}
.space-between-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.table {
  table-layout: fixed;
  display: table;
}
.table_row {
  display: table-row;
  padding: 10px;
  width: 100%;
}
.table_cell {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  display: table-cell;
}
.table_cell:last-child {
  margin-right: 20px;
}
.table_cell:first-child {
  margin-left: 20px;
}
.table__striped .table_row:nth-child(odd) {
  background: #F2F2F2;
}
.table__striped .table_row:nth-child(even) {
  background-color: white;
}
.header {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-size: 18px;
  background: #033457;
  color: #f2f2f2;
  z-index: 9999 !important;
}
.header .logo {
  font-size: 18px;
}
.header .header_nav a {
  text-decoration: none;
  color: #f2f2f2;
}
.header .header_nav_el {
  display: inline-block;
  margin-right: 10px;
}
.header .header_nav_el:last-child {
  margin-right: 0;
}
/*header styles end*/
/*reg forms styles begin*/
.reg-form {
  padding: 10px 0px;
  width: 300px;
  margin: auto;
}
.reg-form h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.reg-form_help-text {
  font-size: 14px;
  color: #0000ff;
}
.reg-form_error-text {
  font-size: 14px;
  color: red;
}
.reg-form input {
  border: 0;
  border-bottom: 1px solid #999999;
}
/*reg forms styles end*/
/*---------------------*/
/*user styles begin*/
.user-card_title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}
.user-card_stat {
  width: 100%;
  /*border: 1px solid #cecece;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.user-card_stat_el {
  width: 100%;
  grid-column: span 1;
  text-align: center;
}
.go-out-form {
  margin-top: 10px;
}
/*user styles end*/
/*------------------------*/
/*game styles begin*/
.desk {
  width: 370px;
  height: 370px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.quarter {
  width: 180px;
  height: 180px;
  /*margin-bottom: 10px;*/
  /*margin-left: 10px;*/
  /*border: #222222 5px solid;*/
  grid-column: span 1;
  transition: all 0.3s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.quarter-cont {
  transition: all 0.3s;
}
.quarter__choose {
  transform: scale(1.05);
}
.cell {
  width: 60px;
  height: 60px;
  border: #222222 1px solid;
  background: #cccccc;
}
.figure {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 50%;
}
.figure__black {
  background: black;
}
.figure__white {
  background: white;
}
.users-container {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.bottom-form {
  padding: 10px;
}
.bottom-form > input {
  width: 50px;
}
.bottom-form img {
  width: 50px;
  height: 30px;
}
@media screen and (max-width: 580px) {
  .side-padding {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 386px) {
  .desk {
    width: 310px;
    height: 310px;
  }
  .quarter {
    width: 150px;
    height: 150px;
  }
  .cell {
    width: 50px;
    height: 50px;
  }
  .figure {
    margin-left: 5px;
    margin-top: 5px;
  }
}
/* game styles end */
/*----------------------------*/
/* game preloader styles begin */
.game-preloader {
  padding: 10px;
}
.preloader__image {
  height: 50px;
  width: 50px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}
/*game preloader styles end*/
/*rules styles begin*/
.rules {
  line-height: 18px;
  padding: 0 10px;
}
.rules h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
/*rules styles end*/
/*# sourceMappingURL=main.css.map */